html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #885985;
    color: #e1dce1;  
    width: 100%;
    flex: 0 0 auto; /* This line keeps the navbar at a fixed height */
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e1dce1;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 20px 50px;
    margin: 0px;
    transition-duration: 0.5s;
}

nav ul li {
    /* Center elements in the middle of their sections*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    background-color: #e1dce1;
    color: #885985;
    transition-duration: 0.5s;
}

.logoSpace {
    flex: 2;
    font-size: 40px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

main {
    flex: 1;
    position: relative;
    background-image: url("./images/landing.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the items horizontally */
    justify-content: center; /* This centers the items vertically */
}



main h1 {
    color: #e1dce1;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center; /* This centers the text */
}

.joinButton {
    background-color: #885985;
    color: #e1dce1;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 10px;
    transition-duration: 0.5s;
}

.joinButton:hover {
    background-color: #e1dce1;
    transition-duration: 0.5s;
}

a:hover {
    color: #885985;
    transition-duration: 0.5s;
}
